:root {
  --app-black: #18181a;
}
.App {
  background-color: #282c34;
  min-height: 100vh;
}

/* Header */
.header {
  background-color: var(--app-black);
}
.header__logo img {
  width: 200px;
}
.header__right {
  margin-top: 30px;
  position: relative;
  right: 20px;
}
#basic-addon2 {
  background: linear-gradient(
    45deg,
    rgb(153, 51, 255) 0%,
    rgb(255, 102, 102) 100%
  );
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
  font-weight: 600;
}
.header__right .input-group input,
.header__right .input-group span {
  border: none;
  outline: none;
  border-radius: 0px;
  height: 50px;
  line-height: 50px;
}

/* Giphy */
.gifs {
  background-color: var(--app-black);
}
.gif__image {
  width: 100%;
  height: 200px;
  margin: 15px 0px;
}

/* Loader */
.loader {
  margin: 0px auto;
  width: 100px;
  height: 100px;
}

/* pagination */
.app__pagination {
  background-color: var(--app-black);
}
.pagination {
  margin: 0px;
}
.pagination li {
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  background: linear-gradient(
    45deg,
    rgb(153, 51, 255) 0%,
    rgb(255, 102, 102) 100%
  );
  border: transparent;
  color: #fff;
  font-weight: 600;
  padding: 10px 20px;
}
.pagination li:hover {
  color: #000;
}

/* Footer */
.footer {
  background-color: var(--app-black);
}

/* media queries */
@media only screen and (max-width: 767px) {
  .header__right {
    margin-top: 0px;
    right: 0px;
  }
  .header__right .input-group {
    width: 90%;
    margin: 0px auto;
  }
}
